<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fence</title>
    <link rel="stylesheet" href="/static/fence.css" />
</head>
<body>
    <div id="wrapper">
        <div id="loader">
            <img src="/static/loader.gif" />
        </div>

        <div class="group">
            <h2>Clôture</h2>
            <a href="#" id="fence">
                <img src="/static/current_off.png" />
            </a>
        </div>
        
        <div class="group">
            <h2>Lumière intérieure</h2>
            <a href="#" id="light_in1">
                <img src="/static/light_off.png" />
            </a>
            <a href="#" id="light_in2">
                <img src="/static/light_off.png" />
            </a>
        </div>
            
        <div class="group">
            <h2>Lumière extérieure</h2>
            <a href="#" id="light_out">
                <img src="/static/light_off.png" />
            </a>
        </div>
        
        <div class="group">
            <h2>Alarme</h2>
            <a href="#" id="alarm">
                <img src="/static/alarm_off.png" />
            </a>
        </div>
    </div>
    <script src="/static/jquery.js"></script>
    <script src="/static/fence.js"></script>
</body>
</html>
