<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fence</title>
    <link rel="stylesheet" href="/static/fence.css" />
</head>
<body>
    <div id="wrapper">
        <h1>Clôture</h1>
        <a href="#"><img id="on" src="/static/on.png" /></a>
        <a href="#"><img id="off" src="/static/off.png" /></a>
        <div id="loader"><img src="/static/loader.gif" /><div>
    </div>
    <script src="/static/jquery.js"></script>
    <script src="/static/fence.js"></script>
</body>
</html>
